---
Language:        Cpp
AccessModifierOffset: -4
AlignConsecutiveAssignments:
  Enabled:          true
  AcrossEmptyLines: true
  AcrossComments:   false
  AlignCompound:    false
  PadOperators:     true
AlignConsecutiveDeclarations:
  Enabled:          true
  AcrossEmptyLines: false
  AcrossComments:   false
  AlignCompound:    false
  PadOperators:     false
AlignTrailingComments:
  Kind:            Always
  OverEmptyLines:  0
AllowShortBlocksOnASingleLine: Never
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: false
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
AlwaysBreakBeforeMultilineStrings: false
BinPackArguments: true
BinPackParameters: true
BitFieldColonSpacing: Both
ConstructorInitializerIndentWidth: 4
FixNamespaceComments: true
IncludeBlocks: Preserve
IndentAccessModifiers: false
IndentWidth: 4
PointerAlignment: Right
RemoveSemicolon: true
...
